
<head>
    <meta charset="UTF-8">
    <title>D3 Bar Chart on Background Image with Click Events</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <img id="background" src="{{ site.baseurl }}/assets/img/cobaltMiningBackground.png" alt="Background Image">
        <div class="title-container">
            <div class="title">Daily Wages (USD) of Cobalt Miners in Congo</div>
            <div class="subtitle">click bars for details</div>
        </div>
        <svg></svg>
    </div>
    
<p>Testing without the scripts.</p>
</body>

